.heading_style{
    font-family: 'Black Ops One', cursive;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Gajraj One', cursive;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-family: 'Rampart One', cursive;
    /* font-family: 'Tilt Prism', cursive; */
    /* font-family: 'Wallpoet', cursive; */
    color: #101010;
}