*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 500px;
    width: 65%;
    overflow: hidden;
    margin: 8% 0 0 18%;
}
.log-img img{
    height: 500px;
    width: 520px;
}
.log-fields h1{
    margin: 15% 0 0 45%;
    font-size: 30px;
}
.input-fields{
    margin: 10% 0 0 10%;
}
.input-fields label{
    font-size: 18px;
}
.input-fields input{
    margin: 2% 0 5% 0;
    width: 90%;
    height: 40px;
    border-radius: 5px;
    padding: 15px 20px;
}
.input-fields .btn{
    padding: 10px 20px;
    background: rgb(81, 135, 156);
    cursor: pointer;
    border: 0ch;
    margin-top: 8%;
    font-size: 14px;
}
.input-fields .btn:hover{
    background: blue;
    color: white;
}
span{
    color: red;
    font-weight: bold;
    margin-left: 22%;
}
